html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  z-index: 10;
}

                              /*    Header    */


header {
  position: fixed;
  top: 0px;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid black;
  z-index: 20;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

#logo h2 {
  font-weight: normal;
}

#logo h2 strong {
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin: 0.5rem;
}

#mobilenav {
  display: none;
}



@media only screen and (max-width: 768px) {

  #logo {
    display: none;
  }

  nav {
    display: none;
  }

  #mobilenav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

                            /*    Contents    */


#content {
  display: flex;
  max-width: 90rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  margin: 0rem 1.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}


@media only screen and (max-width: 768px) {
  #content {
    width: 100%;
    margin: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  #content {
    margin: 0rem;
  }
}


  /*    Banner    */

#banner {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1.5rem;
  background-color: lightgray;
  overflow: hidden;
}

#banner .column-left {
  display: flex;
  width: 60%;
}

#banner img {
   width: 100%;
   height: 100%;
 }

#banner .column-right {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   text-align: left;
   padding-left: 2.5rem;
   overflow: hidden;
 }

#banner .column-right p {
   margin: 2rem 0rem;
 }

.button {
   display: block;
   color: white;
   width: 90%;
   text-align: center;
   padding: 1rem;
   background-color: black;
   border-radius: 0.5rem;
 }


@media only screen and (max-width: 768px) {

  #banner {
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
  }

  #banner .column-left {
    height: 11.25rem;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-position: center;
  }

  #banner img {
    display: none;
  }

  #banner .column-right {
    width: 97%;
    height: auto;
    padding: 2rem 1rem;
    background-color: lightgray;
  }

  #banner .column-right p {
    margin: 2rem 1rem 1.5rem 1rem;
    display: block;
  }

  #banner .column-right h1 {
    margin: 0rem 1rem;
  }

  .button {
    color: white;
    width: 80%;
    padding: 1rem;
    margin: 0rem 1rem;
    background-color: black;
  }

}

  /*    Featured    */

#featured {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1.5rem;
  background-color: lightgray;
}

#featured .column-left {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-right: 1.5rem;
}

#featured .column-left img {
  width: 100%;
  height: auto;
}

#featured .column-left h2 {
  margin: 1.5rem;
}

#featured .column-right {
  display: flex;
  height: 100%;
  width: 35%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;
}

#featured .container {
  display: flex;
  height: 33%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: lightgreen;
}

#featured .container:nth-child(1n+2) {
  border-top: 1px solid black;
}

#featured .container img {
  height: 35%;
  width: 35%;
}

#featured .text {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  background-color: lightgreen;
}

#featured .text h3, p {
  margin: 0.5rem 1rem;
}

#featured .mobile {
  display: none;
}

@media only screen and (max-width: 768px) {

  #featured {
    margin: 2rem 0rem;
    background-color: white;
  }

  #featured .desktop {
    display: none;
  }

  #featured .mobile {
    display: flex;
  }

  #featured .column-left {
    display: none;
  }

  #featured .column-right {
    width: 97%;
    height: auto;
    overflow: hidden;
  }

  #featured .container {
    flex-direction: column;
    height: auto;
    background-color: white;
  }

  #featured .container img {
    display: block;
    width: 100%;
  }

  #featured .text p {
    display: block;
  }
}

  /*    Courses    */

#courses {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 2rem 1.5rem;
  background-color: lightgray;
  overflow: hidden;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

#courses .container {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin: 2rem;
  background-color: lightgreen;
  border-radius: 10px;
  overflow: hidden;
}

.course {
  display: flex;
  width: 100%;
  height: 13.75rem;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin-bottom: 0.5rem;
}

.course img {
  height: 10rem;
  width: 100%;
}

.course h3 {
  margin-top: 1rem;
  margin-left: 1rem;
}

.course h6 {
  margin: 0.5rem 1rem;
}

#courses .container p {
  margin: 1.5rem 1rem;
}


@media only screen and (max-width: 768px) {

  #courses {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: white;
  }

  #courses .row {
    flex-direction: column;
  }

  #courses .container p {
    display: none;
  }

  #courses .container {
    width: 97%;
    justify-content: center;
    background-color: white;
    margin: 0.25rem 1rem;
    border-radius: 0rem;
  }

  .course {
    width: 97%;
    height: auto;
    padding: 0rem;
    margin-bottom: 0rem;
    background-color: lightgray;
  }

  .course h3 {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .course img, h6 {
    display: none;
  }

  .course h3 {
    width: 100%;
    padding: 1rem;
    border: 0.5rem 1rem;
  }
}

  /*    Thesis    */

#thesis {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1.5rem;
  background-color: lightgray;
}

#thesis .column-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  text-align: left;
  margin-right: 1.5rem;
}

#thesis .column-left video {
  width: 100%;
}

#thesis .column-left h3 {
  margin: 1.5rem;
}

#thesis .column-right {
  display: flex;
  height: 100%;
  width: 35%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;
}

#thesis .column-right .container {
  display: flex;
  height: 33%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: lightgreen;
}

#thesis .column-right .container:nth-child(1n+2) {
  border-top: 1px solid black;
}

#thesis .column-right .container img {
  width: 35%;
  height: auto;
}

#thesis .text {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  background-color: lightgreen;
}

#thesis .text h3, p {
  margin: 0.5rem 1rem;
}


@media only screen and (max-width: 768px) {

  #thesis {
    margin-bottom: 1.5rem;
  }

  #thesis .column-left {
    width: 100%;
    height: auto;
    margin: 0rem;
  }

  #thesis .column-left h3, p {
      display: none;
  }

  #thesis video {
    width: 100%;
    height: auto;
  }

  #thesis .column-right {
    display: none;
  }
}

                               /*    Footer    */


footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 2rem;
  background-color: lightgreen;
}

footer p {
  margin: 1.5rem;
}

@media only screen and (max-width: 768px) {

  footer {
    padding: 0rem
  }

  footer p {
    display: block;
    margin: 1.5rem;
  }

  footer nav {
    display: none;
  }
}
