html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 64px;
  z-index: 10;
}

                              /*    Header    */


header {
  position: fixed;
  top: 0px;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  z-index: 20;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  border: 1px solid black;
}

#logo h2 {
  font-weight: normal;
}

#logo h2 strong {
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin: 0.5rem;
}

#mobilenav {
  display: none;
}



@media only screen and (max-width: 1024px) {

  #logo {
    display: none;
  }

  nav {
    display: none;
  }

  #mobilenav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

                            /*    Contents    */


#content {
  display: flex;
  max-width: 90rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem 1.5rem;
  border: 1px solid black;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  #content {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 480px) {
  #content {
    overflow: hidden;
    width: 100%;
    padding: 0px;
  }
}


  /*    Banner    */

#banner {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1.5rem;
  border: 1px solid black;
}

 #banner img {
   display: flex;
   width: 60%;
 }

 #banner .column-right {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
   margin-left: 2.5rem;
   border: 1px solid black;
 }

 #banner .column-right p {
   margin: 2rem 0rem;
 }

 .button {
   color: white;
   width: 100%;
   margin: 0rem;
   background-color: black;
 }

 .button p {
   margin: 0px;
 }


@media only screen and (max-width: 480px) {

  #banner {
    flex-direction: column;
  }

  #banner img {
    width: 100%;
    height: 100%;
  }

  #banner .column-left {
    width: 100%;
    height: 180px;
  }

  #banner .column-right {
    width: 100%;
    margin: 2rem 1rem;
  }

  #banner .column-right p {
    top-margin: 2rem;
    bottom-margin: 1.5rem;
  }
}

  /*    Featured    */

#featured {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1.5rem;
  border: 1px solid black;
}

#featured .column-left {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-right: 1.5rem;
  border: 1px solid black;
}

#featured .column-left img {
  width: 100%;
  height: auto;
}

#featured .column-left h2 {
  margin: 1.5rem;
}

#featured .column-right {
  display: flex;
  height: 100%;
  width: 35%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  overflow: hidden;
}

#featured .container {
  display: flex;
  height: 33%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
}

#featured .container img {
  height: 35%;
  width: 35%;
}

#featured .text {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  border: 1px solid black;
}

#featured .text h3, p {
  margin: 0.5rem 1rem;
}

#featured .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {

  #featured .desktop {
    display: none;
  }

  #featured .mobile {
    display: flex;
  }
  
  #featured .column-left {
    display: none;
  }

  #featured .column-right {
    width: 100%;
    height: auto;
    overflow: visible;
  }

  #featured .container {
    flex-direction: column;
    height: auto;
  }

  #featured .container img {
    width: 100%;
  }

  #featured .text {
    height: 6rem;
  }
}

  /*    Courses    */

#courses {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 2rem 1.5rem;
  border: 1px solid black;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
}

.row .container {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem;
  border: 1px solid black;
}

.course {
  display: flex;
  width: 100%;
  height: 13.75rem;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin-bottom: 0.5rem;
}

.course img {
  width: 100%;
  height: auto;
}

.course h3 {
  margin-top: 1rem;
  margin-left: 1rem;
}

.course h6 {
  margin: 0.5rem 1rem;
}

.row .container p {
  margin: 1.5rem 1rem;
}


@media only screen and (max-width: 480px) {

  #courses {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  #courses .row {
    flex-direction: column;
  }

  #courses .container p {
    display: none;
  }

  #courses .container p:hover {
    display: block;
    width: 100%;
  }

  #course img, h6 {
    display: none;
  }

  #course h3 {
    width: 100%;
    padding: 1rem;
    border: 0.5rem 1rem;
  }
}

  /*    Thesis    */

#thesis {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1.5rem;
  border: 1px solid black;
}

#thesis .column-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  text-align: left;
  margin-right: 1.5rem;
  border: 1px solid black;
}

#thesis .column-left video {
  width: 100%;
}

#thesis .column-left h3 {
  margin: 1.5rem;
}

#thesis .column-right {
  display: flex;
  height: 100%;
  width: 35%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  overflow: hidden;
}

#thesis .column-right .container {
  display: flex;
  height: 33%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
}

#thesis .column-right .container img {
  width: 35%;
  height: auto;
}

#thesis .text {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  border: 1px solid black;
}

#thesis .text h3, p {
  margin: 0.5rem 1rem;
}


@media only screen and (max-width: 480px) {

  #thesis {
    margin-bottom: 1.5rem;
  }

  #thesis .column-left h3, p {
      display: none;
  }

  #thesis video {
    width: 100%;
    height: auto;
  }

  #thesis .column-right {
    display: none;
  }
}

                               /*    Footer    */


footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 2rem;
}

footer p {
  margin: 1.5rem;
}

@media only screen and (max-width: 480px) {

  footer {
    padding: 1rem;
  }

  footer nav {
    display: none;
  }
}
