html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 64px;
  z-index: 10;
}

header {
  position: fixed;
  top: 0px;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  z-index: 20;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin: 0.5rem;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  border: 1px solid black;
}

#logo h2 {
  font-weight: normal;
}

#logo h2 strong {
  font-weight: bold;
}

#content {
  width: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem 1.5rem;
  border: 1px solid black;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

#banner {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1.5rem;
  border: 1px solid black;
}

 #banner img {
   display: flex;
   width: 60%;
   margin-right: 2.5rem;
 }

 #banner .column-right {
   display: flex;
   height: 14rem;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
   border: 1px solid black;
 }

 .button {
   color: white;
   width: 100%;
   padding: 0.5rem;
   background-color: black;
 }

#featured {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1.5rem;
  border: 1px solid black;
}

#featured .column-left {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-right: 1.5rem;
  border: 1px solid black;
}

#featured .column-left img {
  width: 100%;
  height: auto;
}

#featured .column-left h2 {
  margin: 1.5rem;
}

#featured .column-right {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
}

#featured .container {
  display: flex;
  height: 33%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
}

#featured .container img {
  height: 9.25rem;
  width: 9.25rem
}

#featured .text {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  border: 1px solid black;
}

#featured .text h3, p {
  margin: 0.5rem 1rem;
}

#courses {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 2rem 1.5rem;
  border: 1px solid black;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.row .container {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem;
  border: 1px solid black;
}

.course {
  display: flex;
  width: 100%
  height: 13.75rem;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin-bottom: 0.5rem;
}

.course img {
  width: 100%;
  height: auto;
}

.course h3 {
  margin-top: 1rem;
  margin-left: 1rem;
}

.course h6 {
  margin: 0.5rem 1rem;
}

.row .container p {
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

#thesis {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1.5rem;
  border: 1px solid black;
}

#thesis .column-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  text-align: left;
  margin-right: 1.5rem;
  border: 1px solid black;
}

#thesis .column-left video {
  width: 100%;
}

#thesis .column-left h3 {
  margin: 1.5rem;
}

#thesis .column-right {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
}

#thesis .column-right .container {
  display: flex;
  height: 33%
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
}

#thesis .column-right .container img {
  width: 9.25rem;
  height: 9.25rem;
}

#thesis .text {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  border: 1px solid black;
}

#thesis .text h3, p {
  margin: 0.5rem 1rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 2rem;
}

footer p {
  margin: 1.5rem;
}
